Sistemas_de_Ventas/Sistemas_de_Ventas/bin/Debug/Sistemas_de_Ventas.exe
Sistemas_de_Ventas/Sistemas_de_Ventas/obj/Debug/Sistemas_de_Ventas.exe
Sistemas_de_Ventas/Sistemas_de_Ventas/obj/Debug/Sistemas_de_Ventas.exe
*.exe